html { background-color: black; }
html * {
  box-sizing: border-box;
  position: relative;
}
body {}

#scene {
  background-image: radial-gradient( ellipse, hsl(0,50%,30%), hsl(20,50%,10%) );
  cursor: pointer;
  height: 100vh;
  max-height: 1080px;
  max-width: 1920px;
  overflow: auto;
  padding: 5vw;
  width: 100vw;
  -webkit-animation: hue 240s infinite linear;
}
@-webkit-keyframes hue {
  from { -webkit-filter: hue-rotate( 0deg ); }
  to { -webkit-filter: hue-rotate(-360deg); }
}

h1 { 
  color: hsla(0,100%,100%,0.25);
  font-family: 'Homemade Apple', cursive;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5vw;
  text-align: right;
}

figure {
  margin: 1rem auto;
  min-width: 50vw;
  max-width: 80vw;
  width: 500px;
}

#image { /* container for image object */
  background-size: cover;
  transition: opacity 2s ease-in-out 0s;
}
#image.shutter {
  opacity: 0;
}
img { /* placeholder guy */
  background-color: hsla(0,0%,0%,0);
  box-shadow: inset 0 0 10vw 0 hsla(0,0%,0%,0.5),
              0.0625em 0.0625em 0.25em hsla(0,0%,0%,0.25);
  display: block;
  width: 100%;
  transition: background-color 2s ease-in-out 0s;
}
img.shutter {
  background-color: hsla(0,0%,0%,1);
}

figcaption {
  transition: opacity 2s ease-in-out 0s;
}
figcaption p {
  margin: 1.5em;
  text-align: center;
  transition: unset;
}
figcaption span {
  background-color: hsl(0,0%,10%);
  color: hsla(0,100%,100%,0.67);
  display: inline-block;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  letter-spacing: 0.0625em;
  line-height: 1.4em;
  padding: 0.5em 1em;
  text-align: left;
  text-shadow: 0.0625em 0.0625em 0.0625em hsla(0,0%,50%,0.5);
}
figcaption span {
  box-shadow: 0.0625em 0.0625em 0.25em hsla(0,0%,0%,0.25);  
}
figcaption.shutter {
  opacity: 0;
}
