<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="loading">

<div id="bg">
</div>
<figure>
  <div id="image"><img src="/images/1x1.png" /></div>
  <figcaption></figcaption>
</figure>

</body>
</html>
